DocAggregator.API.Infrastructure/Resources/DataBindings/BindingDoctype.dtd

<!ELEMENT DataSource (Collection | SqlQuery)*>
<!ATTLIST DataSource documentKind CDATA #REQUIRED>
<!ELEMENT Collection (Collection | SqlQuery)*>
<!ATTLIST Collection name CDATA #REQUIRED>
<!ELEMENT SqlQuery (#PCDATA)>
<!ATTLIST SqlQuery argument CDATA #IMPLIED>
<!ATTLIST SqlQuery itemIndexColumn CDATA #IMPLIED>
<!ATTLIST SqlQuery keyColumn CDATA #IMPLIED>
<!ATTLIST SqlQuery valColumn CDATA #IMPLIED>
